.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    padding: 5px;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid black;   
    text-align: center;
}

.project-image {
}

.btn {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: 2px solid aqua;
    border-radius: 5px;
    background-color: aquamarine;
}